.company-card {
  margin-bottom: 10px;
}

.company-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

button[mat-fab] {
  position: fixed;
  bottom: 20px;
  right: 20px;
}